/*- ⭐️ Homepage page
 *
-*/

@import 'container';
@import 'spacing';

homepage() {
  .homepage {
    &__message {
      &--orientation {
        margin: $spacing-large 0;
      }
    }
  }
}

homepage-responsive() {}
