/*- ⭐️ Login page
 *
 * Responsible for login page
 *
-*/

@import 'container';
@import 'spacing';

login() {
  .login {
    &__credentials {
      margin: $spacing-small;
    }

    &__error { color: $primary-color; }
  }
}

login-responsive() {}
