/*- ⭐️ Login page
 *
 * Responsible for login page
 *
-*/

@import 'container';
@import 'spacing';

login() {
  .login {
    &__credentials {
      margin: $spacing-small;
    }

    &__error { color: $primary-color; }

    &__loading {
      $width = 40px;

      height: $width;
      margin-left: $spacing-large;
      vertical-align: middle;
      width: $width;
    }
  }
}

login-responsive() {}
