/*- ⭐️ Products page list
 *
 * Responsible for products
 *
-*/

@import 'container';
@import 'spacing';

products() {
  .products {
    &__welcome {
      font-size: $font-size-large;
    }

    &__orientation {
      margin: $spacing-large 0 0;
    }

    &__list {
      &--wrapper {
        margin: $spacing-large 0 0;
        text-align: center;
      }
    }
  }
}

products-responsive() {}
