/*- ⭐️ Products page list
 *
 * Responsible for products
 *
-*/

@import 'container';
@import 'spacing';

products() {
  .products {
    &__welcome {
      font-size: $font-size-large;
    }

    &__orientation {
      margin: $spacing-large 0 0;

      &--sorry {
        display: block;
        font-size: $font-size-small;
        margin: $spacing-base 0 0;
      }
    }

    &__list {
      $width = 300px;

      border-radius: $spacing-xxsmall;
      border: 1px solid $gray-base;
      box-shadow: $spacing-xxsmall $spacing-xxsmall $spacing-base $gray-base;
      max-height: $width;
      overflow-y: scroll;

      &--wrapper {
        margin: $spacing-large 0 0;
        text-align: center;
      }

      .list {
        &__individual { position: relative; }

        &__item {
          $max-width-description-text = 730px;

          text-align: left;

          // hack for react-toolbox list description component
          [data-react-toolbox=list-item-text] { max-width: $max-width-description-text !important; }

          &--price {
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
            position: absolute;
            right: $spacing-small;
            top: $spacing-large;
          }
        }
      }
    }
  }
}

products-responsive() {}
